
</div>
<script src="<%= system['cdn_host']%>/js/jquery.min.js?v=2.1.4"></script>
<script src="<%= system['cdn_host']%>/js/bootstrap.min.js?v=3.3.6"></script>
<script src="<%= system['cdn_host']%>/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="<%= system['cdn_host']%>/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="<%= system['cdn_host']%>/js/plugins/layer/layer.min.js"></script>
<script src="<%= system['cdn_host']%>/js/hplus.min.js?v=4.1.0"></script>
<script type="text/javascript" src="<%= system['cdn_host']%>/js/contabs.min.js"></script>
<script src="<%= system['cdn_host']%>/js/plugins/pace/pace.min.js"></script>

